#header-container{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

#header-container a {
  font-size: 20px;
  text-decoration: none;

}

#header-container a:hover{
  background-color: #2fc18c;
  color: white;
  text-decoration: none;

}

a:link {
  font-size: 20px;
  text-decoration: none;
}

a{
  color: white;
}



span {
  color: white;
  font-size: 15px;
}