#login-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#form-content {
  display: flex;
  justify-content: center;
}

img{
  width: 300px;
}

input {
  width: 70%;
  height: 100%;
  border: 4px solid rgba(18, 18, 18,1);
  font-size: 18px;
  padding-left: 5px;
  box-shadow: 4px 4px 8px rgba(18, 18, 18,1);
}
button {
  box-shadow: 4px 4px 8px rgba(18, 18, 18,1);
  border: 4px solid rgba(18, 18, 18,1);
  width: 75px;
  background-color: #2FC18C;
}