#login-content {
  align-items: center;
  background: linear-gradient(123.66deg, #003BE5 12.08%, #00D5E2 86.52%);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;  
}
#image-input-login {
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 26px rgba(68, 73, 85, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
  height: 450px;
}

#logo{
  height: 104.89px;
  width: 187.19px;
}


#input-login{
  border: 1px solid #003BE5;
  border-radius: 100px;
  box-sizing: border-box;
  color: #003BE5;
  width: 400px;
  height: 40px;
}

#input-login::placeholder{
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #003BE5;
}

#login-button {
  background: #003BE5;
  border-radius: 100px;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  width: 400px;
  height: 40px;
}

#teste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;

}
