#profile-infos-content {
  width: 100%;
  height: 100%;
}

#profile-infos-content p {
color: white;
}

#page-content{
  display: flex;
  justify-content: center;
}
#profile-image{
  width: 100px;
  height: 65px;
}

#profile-infos-content img{
  width: 100px;
  height: 100px;

}