#search-container button{
  width: 100px;
  height: 25px;
  border-radius: 5px;
}

h1{
  font-size: 30px;
}

#music-card-container{
  /* background-color: red; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

#music-card-container img {
  width: 100px;
  height: 100px;
}

#music-card-div{ 
  /* border: solid white; */
  padding:16px;
  border-radius: 8px;
  background:#181818;
  margin-bottom: 5px;
  width: 25%;
  height: 25%; 
}
#music-card-div:hover{ 
  background:grey;
  margin-bottom: 5px;
  width: 25%;
  height: 25%; 
}

#music-card-div a p{
  width: 100%;
  height: 1em;
}

#music-card-div a{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; 
  overflow: auto;
}